.cartItems__product {
  display: flex;
  align-items: center;
  width: 100%;
}

.cartItems__details {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.cartItems__details > * {
  width: 100px;
}
.cartItems__product img {
  height: 150px;
  width: 140px;
}

.cartItems__product button {
  height: 20px;
  cursor: pointer;
}

#counter {
  margin: 5px;
}

#remove__btn {
  color: red;
  cursor: pointer;
}

@media only screen and (max-width: 731px) {
  .cartItems__product img {
    height: 50px;
    width: 50px;
  }

  .cartItems__product button {
    height: 20px;
    cursor: pointer;
    margin-top: 30px;
  }

  #remove__btn {
    color: red;
    cursor: pointer;
    margin-top: 25px;
  }
}
