.cartItems__product {
  display: flex;
  align-items: center;
  width: 100%;
}

.cartItems__details {
  display: flex;
  justify-content: space-between;
  width: 70%;
}

.cartItems__product img {
  height: 150px;
}

.cartItems__product button {
  height: 20px;
  cursor: pointer;
}

#counter {
  margin: 5px;
}

#remove__btn {
  color: red;
  cursor: pointer;
}
