.cart__header {
  display: flex;
  justify-content: center;
}

.cart_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cart__btn {
  display: flex;
  justify-content: center;
}

.cart__btn button {
  width: 300px;
  background-color: rgb(166, 218, 132);
  height: 50px;
  font-size: 16px;
  color: white;
  margin-top: auto;
}

.cart__btn button:focus {
  outline: none;
}

.cart__total {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  width: 50%;
  border-top-style: solid;
}

.cart__product {
  width: 70%;
  display: flex;
  flex-direction: column;
}

.cart__heading {
  width: 65%;
  padding-left: 200px;
}

.text {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.test {
  text-align: center;
}
