.main__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.product__container {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  overflow: hidden;
  box-sizing: content-box;
}
