.footer__content2 {
  display: flex;
  justify-content: center;
  background-color: darkcyan;
}

.footer__content {
  margin-right: 80px;
  margin-left: 80px;
}

.footer__content1 {
  display: flex;
  justify-content: center;
  background-color: white;
}

.footer__container {
  /* position: absolute;
  bottom: 0; */
  width: 100%;
}

@media only screen and (max-width: 731px) {
  .footer__content {
    margin-right: 20px;
    margin-left: 20px;
    padding-left: 5px;
  }

  .footer__content2 {
    padding-left: 5px;
  }
}
